/*dit is mijn ingeladen svg vanuit illustrator*/
svg {
     width: 100vw;
}

/*dit zijn de kromme blauw streepjes */
.st0 {
    fill: none;
    stroke: #2565B3;
    stroke-width: 5.5;
    stroke-miterlimit: 10;
}

/*dit  is de hover state van de kromme blauwe streepjes*/
.st0:hover {
    stroke: #000000;
}

/*dit zijn de rechte blauwe streepjes*/
.st1 {
    fill: #2565B3;
}

/*dit is de hover state van de recht blauwe streepjes*/
.st1:hover {
    fill: #000000;
}

/*dit zijn de rode bolletjes*/
.st2 {
    fill: #F04038;
}

/*wanneer je het bolletjes aanklikt*/
.clicked {
    fill: #000000;
}

.background {
    animation:backgroundChange 5s ease-out
}

@keyframes backgroundChange {
    0%     {background-color:red;}
    50.0%  {background-color:#ff6666;}
    100.0%  {background-color:red;}
}

.base {
    margin-left: 30px;
    margin-top: 5px;
}

/*dit is de float transitie*/
.float {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -0px); }
}

#buttons {
    display:flex;
    justify-content: center;
    position:absolute;
    width:100vw;
    margin-top:-5em;
    -webkit-animation: scaling 5s infinite;
}


p {
    font-family:Verdana, Geneva, sans-serif;
    font-weight:100;
    position:absolute;
    width:100%;
    text-align:center;
    margin-top:-3em;
}

p:nth-of-type(2){
    color:red;
    margin-top:1em;
}

p:hover {
  animation: colorChange 2s linear 0s infinite;
}

/*https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css*/
@keyframes colorChange {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

#flip_button {
    display:none;
}


#rotate_button,#float_button,#shake_button,#background_button:hover {
background-color:rgb(240,64,56);
}


/*http://www.websonic.nl/tutorials/websitecss/css_rondehoeken.php*/
#rotate_button,#float_button,#shake_button,#flip_button,#background_button {
border-radius: 250px;
background-color:rgb(37,101,179);
color:white;
text-align: center;
border:none;
margin-right:0.2em;
text-align:center;
padding:.5em;
}

#een_button,#twee_button,#drie_button,#vier_button {
border-radius: 250px;
height: 2em;
width: 2em;
border-radius: 50%;
background-color:rgb(240,64,56);
padding:0.5em;
color:white;
border:none;
margin-right:0.2em;
text-align:center;
display:none;
}


/*
div svg:hover {
  -webkit-animation: scaling 5s;
}
*/

@-webkit-keyframes scaling {
From {
    -webkit-transform: scale(1.0);
}
25% {
    -webkit-transform: scale(1.1);
    }
    To  {
      -webkit-transform: scale(1.0);

    }
}

.rotate {
    transform: rotate(-90deg);
}

.letter:hover {
    fill:red;
}

.st2-highlight {
    fill: #00FF00;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

/*https://stackoverflow.com/questions/11660710/css-transition-fade-in*/
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.st1-highlight {
    fill: #00FF00;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}
.st0-highlight {
    stroke: #00FF00;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

.shake {
  animation: shake 0.5s infinite;

}

.flip {
     transform: scaleY(-1);
}


@keyframes shake {

  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* Media queries */
/* Mobiel formaat - geholpen door Kim */
@media(min-width: 20em) and (max-width: 47em) {
  svg {
    width: 200vw;
    margin-left: -60vw;

  }
    #rotate_button{
        display:none;

    }

    #buttons {
        text-align: center;
        align-items: center;
        align-content: center;
    }

    p {
        display:none;
    }
    #flip_button{
        display:block;

    }
    #een_button,#twee_button,#drie_button,#vier_button{
        display:block;
    }
    #buttons {
        margin-top:1em;

    }
}

/*
@media (max-width: 40em) {
    button {
        visibility:hidden;
    }
    svg {
        width:100vw;

    }
}


/**/



/*
img {
    height:2%;
    width:2%;
    margin-left:2em;
    margin-top:2em;
    flex-direction: row;
}
*/

/*
img:hover {

}
*/



/*
#letters #a_1_:hover {
    fill:red;
}
#letters #u_1_:hover {
    fill:red;
}
#letters #l:hover {
    fill:red;
}
*/


