/*stijl ingeladen svgr*/
svg {
     width: 100vw;
}

/*de kromme blauw streepjes */
.st0 {
    fill: none;
    stroke: #2565B3;
    stroke-width: 5.5;
    stroke-miterlimit: 10;
}

/*de hover state van de kromme blauwe streepjes*/
.st0:hover {
    stroke: #000000;
}

/*de rechte blauwe streepjes*/
.st1 {
    fill: #2565B3;
}

/*dit is de hover state van de recht blauwe streepjes*/
.st1:hover {
    fill: #000000;
}

/*dit zijn de rode bolletjes*/
.st2 {
    fill: #F04038;
}

.st2:hover {
    fill: purple;
}

/*wanneer je het bolletjes aanklikt*/
.clicked {
    fill: #000000;
}

.base {
    margin-left: 30px;
    margin-top: 5px;
}

/*dit is de float transitie*/
/*https://codepen.io/whusterj/pres/bdYKop*/
.float {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

/*animatie*/
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -2px); }
}

/*buttons*/
#buttons {
    display:flex;
    justify-content: center;
    position:absolute;
    width:100vw;
    margin-top:-5em;
}

/*p stijl*/
/*https://www.w3schools.com/cssref/css_websafe_fonts.asp*/
p {
    font-family:Verdana, Geneva, sans-serif;
    font-weight:100;
    position:absolute;
    width:100%;
    text-align:center;
    margin-top:-3em;
}

/*p hover met animatie*/
/*https://stackoverflow.com/questions/24363205/css-background-color-keyframes-animation*/
p:hover {
  animation: colorChange 2s linear 0s infinite;
}

/*https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css*/
@keyframes colorChange {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

/*Deze button moet alleen zichtbaar zijn op mobiel*/
#flip_button {
    display:none;
}

/*buttons op desktop*/
#rotate_button:hover, #float_button:hover,#shake_button:hover, #background_button:hover {
background-color:rgb(240,64,56);
}

/*bron ter inspiratie:http://www.websonic.nl/tutorials/websitecss/css_rondehoeken.php*/
#rotate_button,#float_button,#shake_button,#flip_button,#background_button {
border-radius: 250px;
background-color:rgb(37,101,179);
color:white;
text-align: center;
border:none;
margin-right:0.2em;
text-align:center;
}

/*https://www.w3schools.com/howto/howto_css_circles.asp*/
#een_button,#twee_button,#drie_button,#vier_button{
border-radius: 250px;
height: 2em;
width: 2em;
border-radius: 50%;
background-color:rgb(240,64,56);
color:white;
border:none;
margin-right:0.2em;
text-align:center;
display:none;
}

/*einde bron*/

.rotate {
    transform: rotate(-90deg);
}

#letters:hover {
    fill:red;
}

#cijfers:hover {
    fill:red;
}

/*bron ter inspiratie: https://stackoverflow.com/questions/11660710/css-transition-fade-in*/
.st2-highlight {
    fill: #00FF00;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}
/*einde bron*/

.st1-highlight {
    fill: #00FF00;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}
.st0-highlight {
    stroke: #00FF00;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

/*https://www.w3schools.com/howto/howto_css_shake_image.asp*/
.shake {
  animation: shake 0.5s infinite;

}

@keyframes shake {

  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*Einde bron*/
/*bron: https://css-tricks.com/snippets/css/flip-an-image/*/
.flip {
     transform: scaleY(-1);
}
/*einde bron*/

/* Media queries */
/* Mobiel formaat - geholpen door Kim */
@media(min-width: 79em) {
#buttons {
    -webkit-animation: scaling 5s infinite;
    }
    @-webkit-keyframes scaling {
From {
    -webkit-transform: scale(1.0);
}
25% {
    -webkit-transform: scale(1.5);
    }
    To  {
      -webkit-transform: scale(1.0);

    }

}
}


@media(min-width: 20em) and (max-width: 47em) {
  svg {
    width: 200vw;
    margin-left: -60vw;

  }
    #rotate_button{
        display:none;
    }

    #buttons {
        text-align: center;
        align-items: center;
        align-content: center;
        margin-top:-2em;
    }

    p {
        display:none;
    }

    #flip_button{
        display:block;

    }
    #een_button,#twee_button,#drie_button,#vier_button,#vijf_button,#zes_button,#zeven_button,#acht_button{
        display:block;

    }
}




